<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.sumato.utility360">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        />-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTemplate"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".presentation.activity.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppTemplate.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.login.LoginActivity"
            android:theme="@style/Theme.AppTemplate.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.activity.home.HomeActivity"
            android:theme="@style/Theme.AppTemplate.NoActionBar" />
        <activity android:name=".presentation.activity.meter.reading.MeterReadingActivity" />

        <activity
            android:name=".presentation.activity.camera.CustomCamera"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppTemplate.NoActionBar.NoStatusBar" />

        <activity
            android:name=".presentation.activity.meter.installation.MeterInstallationActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />

        <activity
            android:name=".presentation.activity.customer.verification.CustomerVerificationActivity"
            android:theme="@style/Theme.AppTemplate"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".presentation.activity.settings.SettingsActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <service
            android:name=".service.FCMService"
            android:enabled="true"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            tools:replace="screenOrientation" />


    </application>

</manifest>